.header {
    display: flex;
    align-items: center;
    margin-bottom: 142px;
}

.logo {
    display: block;
    width: 50px;
    height: 35px;
    background-image: url('../assets/svg/Logo.svg');
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 69px;
    margin-right: 121px;
}

.navigation {
    margin-top: 69px;
    margin-right: auto;
}

.nav__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
}

.nav__item {}

.nav__link {
    font-size: var(--font_h6);
    color: var(--color-gray);
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    text-decoration: none;
    transition: color 0.5s;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
    color: var(--color-blue);
}