/* SAVE__ */

.save {
    display: grid;
    grid-template-columns: 36% 64%;
    grid-template-rows: 1fr;
}

.save__content {}

.save__title {
    font-size: var(--font_h1);
    color: var(--color-blue);
    max-width: 768px;
    line-height: 110%;
    grid-column: 1 / 3;
    grid-row: 1;
}

.save__description {
    margin-top: 50px;
    font-size: var(--font_h5);
    color: var(--color-gray);
}

.button {
    margin-top: 30px;
    font-size: var(--font_h5);
    color: #fff;
    width: 170px;
    height: 60px;
    background-color: var(--color-purple);
    border-radius: 50px;
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--color-pink);
}

.save__img {
    max-width: 672px;
    grid-column: 2;
    grid-row: 2/span 2;
}


/* STORAGE__ */

.storage {
    display: grid;
    max-width: 100%;
    margin-top: 99px;
    border-radius: 50px;
    background-color: rgba(240, 99, 184, 0.15);
    grid-template-columns: 40% 60%;
}

.storage__img {
    max-width: 100%;
    max-height: 496px;
    margin-top: 60px;
}

.storage__content {
    max-width: 475px;
    margin: 125px 93px 125px auto;
}

.storage__title {
    font-size: var(--font_h2);
    color: var(--color-blue);
    line-height: 130%;
    margin-bottom: 40px;
}

.storage__description {
    font-size: var(--font_h5);
    color: var(--color-gray);
    line-height: 160%;
}