@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --color-gray: #4B5D68;
    --color-blue: #212353;
    --color-purple: #9C69E2;
    --color-pink: #F063B8;
    --color-turquoise: #68C9BA;
    --font_h1: 80px;
    --font_h2: 40px;
    --font_h3: 24px;
    --font_h4: 20px;
    --font_h5: 18px;
    --font_h6: 16px;
    --font_h7: 14px;
}


/* сбрасываем заголовки, списки, картинки --------------------------------*/

html,
body {
    /* color: #ffffff;
    font-weight: 500;
    background: #000000;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 18px; */
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

ul,
ol,
li {
    list-style: none;
}


/*убираем декорейшн ссылок --------------------------------------------- */

a {
    text-decoration: none;
}


/* задаем контейнер */

.wrapper {
    max-width: 1120px;
    margin: auto;
}